<br>
<%= link_to "HOME", home_path %>

<h1 style="color:FireBrick">Listing RS</h1>
<% if current_user.present? && current_user.is_admin? %>
     <table>
    <tr>
      <th style="color:FireBrick">| Rail Route - Departure |</th>

      <th style="color:FireBrick">| Rail Route - Destination |</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @railroutes_stops.each do |railroutes_stop| %>
      <% rail_route = RailRoute.find(railroutes_stop.railroute_id) %>
      <tr>
        <td> <%= rail_route.departure %> </td>
        <td><%= rail_route.destination %></td>
        <td><%= link_to 'Show', railroutes_stop %></td>
        <% if current_user.present? && current_user.is_admin? %>
          <td><%= link_to 'Edit', edit_railroutes_stop_path(railroutes_stop) %></td>
          <td><%= link_to 'Destroy', railroutes_stop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Railroutes stop', new_railroutes_stop_path %>

<% else %>
  <h1 style="color:FireBrick">denied access</h1>
<% end %>