<%= form_for(@train) do |f| %>
  <% if @train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
      <% @train.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :firstclass_seats %><br />
    <%= f.number_field :firstclass_seats %>
  </div>
  <div class="field">
    <%= f.label :secondclass_seats %><br />
    <%= f.number_field :secondclass_seats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
