</br>
<br>
<font size="3"> <%= link_to "HOME", home_path %> </font>
<h1 style="color:FireBrick">Listing trains</h1>

<table>
  <tr>
    <th style="color:FireBrick">| Serial number |</th>
    <th style="color:FireBrick">| Model |</th>
    <th style="color:FireBrick">| Firstclass seats |</th>
    <th style="color:FireBrick">| Secondclass seats |</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trains.each do |train| %>
  <tr>
    <td><center><%= train.id %></center></td>
    <td><center><%= train.model %></td>
    <td><center><%= train.firstclass_seats %></center></td>
    <td><center><%= train.secondclass_seats %></center></td>
    <td><center><%= link_to 'Show', train %></center></td>
    <% if current_user.present? && current_user.is_admin? %>
      <td><%= link_to 'Edit', edit_train_path(train) %></td>
      <td><%= button_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.present? && current_user.is_admin? %>
  <%= link_to 'New Train', new_train_path %>
<% end %>
