<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field" style="color:FireBrick">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  <br>

  <div class="field" style="color:FireBrick">
    <label for="trip_departure">Departure</label><br />
    <select name="booking[trip_departure]">
    <% Stop.all(:order => "city").uniq{|x| x.city}.each do |dep| %>
      <option><%= dep.city %></option>
    <% end %>
    </select>
  </div>
</br>
<output for="trip_departure"></output>

  <div class="field" style="color:FireBrick">
    <label for="trip_destination">Destination</label><br />
    <select name="booking[trip_destination]">
    <% Stop.all(:order => "city").uniq{|x| x.city}.each do |dest| %>
      <option><%= dest.city %></option>
    <% end %>
    </select>
  
  </div>
</br>


<div class="field" style="color:FireBrick">
    <label for="seat_class">Seats</label> <br />
    <select name="booking[seats_class]">
      <option selected>1</option>
      <option>2</option>
    </select>
  </div>

   </br>
  <div class="field" style="color:FireBrick">
    <label for="n_people">People</label> <br />
    <select name="booking[n_people]">
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
    </select>
  </div>

    </br>
  <div class="actions">
   <%= f.submit %> 
  </div>
<% end %>
