<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field" style="color:FireBrick">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <br>

  <div class="field" style="color:FireBrick">
    <label for="trip_departure">Departure</label><br />
    <select name="booking[trip_departure]">
    <% @stops = Stop.find_each do |dep| %>
      <option><%= dep.city %></option>
    <% end %>
    </select>
  </div>
</br>
<output for="trip_departure"></output>

  <div class="field" style="color:FireBrick">
    <label for="trip_destination">Destination</label><br />
    <select name="booking[trip_destination]">
    <% Stop.find_each do |dest| %>
      <option><%= dest.city %></option>
    <% end %>
    </select>
  
  </div>
  </div>
</br>

    </br>
      <div class="actions">
        <%= link_to 'Choose your train', choose_path(:stop_id => "TRENOPROVA", :railroute_id => "RRPROVA") %>
       <!-- <%= f.submit %> -->
      </div>
<% end %>
