</br>
<font size="3"> <%= link_to "HOME", home_path %> </font>
<% if current_user.present? && (current_user.is_admin? | current_user.id == @user.id) %>

	<h1 style="color:FireBrick">Edit your booking</h1>

	
	<%= render 'form' %>
	</br>
	<%= link_to 'Show', @booking %> |
	<%= link_to 'Go to booking list', bookings_path %> |
	<%= link_to 'Cancel', new_booking_path %>
<% else %>
	<h1 style="color:FireBrick">DENIED ACCESS</h1>
<% end %>