</br>
</br>
<%= link_to "HOME", home_path %>
<% if current_user.present? %>

  <h1 style="color:FireBrick">Listing bookings</h1>

  <table>
    <tr style="color:FireBrick">
      <th>| User - card |</th>
      <th>| Date |</th>
      <th>| Trip departure |</th>
      <th>| Trip destination |</th>
      <th>| Seats class |</th>
      <th>| People |</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @bookings.each do |booking| %>
    <% if (booking.user_id == current_user.id) | current_user.is_admin? %>
      <tr>
        <td><center><%= booking.user_id %></center></td>
        <td><center><%= booking.date %></center></td>
        <td><center><%= booking.trip_departure %></center></td>
        <td><center><%= booking.trip_destination %></center></td>
        <td><center><%= booking.seats_class %></center></td>
        <td><center><%= booking.n_people %></center></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= button_to "Delete", booking, :method=>:delete, :class=>:destroy, data: { confirm: 'Are you sure?' }  %></td>
        
      </tr>
    <%end
   end %>
  </table>

  <br />

  <%= link_to 'New Booking', new_booking_path %>
<% else %>
  <h1 style="color:FireBrick">DENIED ACCESS</h1>
<% end %>