</br>
</br>
<%= link_to "HELP", help_path %> </br>
<%= link_to "ABOUT", about_path %> </br>
</br>
<%= link_to "HOME", home_path %>
<h1 style="color:FireBrick">New booking</h1>

<%= render 'form' %>
</br>
<%= link_to 'Go to booking list', bookings_path %> |
<%= link_to 'Cancel', new_booking_path %>
