<font size="3"> <%= link_to "HOME", home_path %> </font>
<% if (booking.user_id == current_user.id) | current_user.is_admin? %>
  <p>
    <b>User:</b>
    <%= @booking.user_id %>
  </p>

  <p>
    <b>Date:</b>
    <%= @booking.date %>
  </p>

  <p>
    <b>Departure:</b>
    <%= @booking.trip_departure %>
  </p>

  <p>
    <b>Destination:</b>
    <%= @booking.trip_destination %>
  </p>

  <p>
    <b>Seats class:</b>
    <%= @booking.seats_class %>
  </p>

  <p>
    <b>People:</b>
    <%= @booking.n_people %>
  </p>
<br>
<br>
<br>
  
  <p class="field" style="color:FireBrick">
    <b> Number Train </b>
    <%= Train.find(RailRoute.find(@booking.id_rail_route).id_train).id %> AT
    <% @stops = Stop.where("id_rail_route = ?", @booking.id_rail_route) %>
    <% @stops.each do |stop|
      if(stop.city == @booking.trip_departure)
      %>
        <%= stop.a_time.strftime("%H:%M")%>
      <% end %>
    <% end %>
  </p>


    <%= link_to 'Edit', edit_booking_path(@booking) %> |
<% else %>
  <%= link_to 'Go to booking list', bookings_path %>
<% end %>
