<h1 style="color:FireBrick">Listing users</h1>

<table>
  <tr>
    <th style="color:FireBrick">Email</th>
    
    <th style="color:FireBrick">Registration date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <% if current_user.present? %>
  <tr>
    
    <td><%= user.email %></td>
    <td><%= user.registration_date %></td>
    <td><%= link_to 'Show', user %></td>
    <% if (current_user.is_admin?) | (current_user.email == user.email) %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    <% if current_user.is_admin? %>
      <td><%= button_to "Delete", user, :method=>:delete, :class=>:destroy, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% end %>
 <% end %> 
</table>

<br />
<% if !(current_user.present?) %>
  <%= link_to 'New User', new_user_path %>
<% end %>