<%= form_for(@stop) do |f| %>
  <% if @stop.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(@stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% @stop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% end %>
  <div class="field">
    <%= f.label :railroute %><br />
    <%= f.text_field :railroute %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :a_time %><br />
    <%= f.time_select :a_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
