<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @stop.city %>
</p>

<p>
  <b>A time:</b>
  <%= @stop.a_time %>
</p>


<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
