<%= form_for(@rb) do |f| %>
  <% if @rb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rb.errors.count, "error") %> prohibited this rb from being saved:</h2>

      <ul>
      <% @rb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :railroute_departure %><br />
    <%= f.text_field :railroute_departure %>
  </div>
  <div class="field">
    <%= f.label :railroute_destination %><br />
    <%= f.text_field :railroute_destination %>
  </div>
  <div class="field">
    <%= f.label :railroute_dtime %><br />
    <%= f.time_select :railroute_dtime %>
  </div>
  <div class="field">
    <%= f.label :trip_departure %><br />
    <%= f.text_field :trip_departure %>
  </div>
  <div class="field">
    <%= f.label :booking_date %><br />
    <%= f.datetime_select :booking_date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
