<%= form_for(@rail_route) do |f| %>
  <% if @rail_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rail_route.errors.count, "error") %> prohibited this rail_route from being saved:</h2>

      <ul>
      <% @rail_route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure %><br />
    <%= f.text_field :departure %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  
  <div class="field">
    <%= f.label :d_time %><br />
    <%= f.time_select :d_time %>
  </div>

  <div class="field">
    <%= f.label :a_time %><br />
    <%= f.time_select :a_time %>
  </div>
  <div class="field" style="color:FireBrick">
    <label for="id_train">Train</label><br />
    <select name="rail_route[id_train]">
    <% Train.find_each do |train| %>
      <option><%= train.id %></option>
    <% end %>
    </select>
  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
