</br>
</br>
<%= link_to "HELP", help_path %> </br>
<%= link_to "ABOUT", about_path %> </br>
</br>
<font size="3"> <%= link_to "HOME", home_path %> </font>
<h1  style="color:FireBrick">Editing rail_route</h1>

<%= render 'form' %>

<%= link_to 'Show', @rail_route %> |
<%= link_to 'Listing rail routes', rail_routes_path %> |
<%= link_to 'Cancel', new_rail_route_path %>

