</br>
<br>
<%= link_to "HOME", home_path %>
<h1 class="field" style="color:FireBrick">Listing rail routes</h1>
<table>
  <tr style="color:FireBrick">
    <th>| Departure |</th>
    <th>| Destination |</th>
    <th>| Departure time |</th>
    <th>| Arrival time |</th>
    <th>| Train - number |</th>

  </tr>
  <% @rail_routes.each do |rail_route| %>
  <tr>
    
      
      <td><center><%= rail_route.departure %></center></td>
      <td><center><%= rail_route.destination %></center></td>
      <td><center><%= rail_route.d_time.strftime("%H:%M") %></center></td>
      <td><center><%= rail_route.a_time.strftime("%H:%M") %></center></td>
      <td><center><%= rail_route.train_number %></center></td>
      <td><%= link_to 'Show', rail_route %></center></td>
      <% if current_user.present? && current_user.is_admin? %>
        <td><%= link_to 'Edit', edit_rail_route_path(rail_route) %></td>
        <td><%= button_to 'Destroy', rail_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    
  </tr>
  <% end %>
</table>

<br/>
<% if current_user.present? && current_user.is_admin? %>
  <%= link_to 'New Rail route', new_rail_route_path %>
<% end %>