</br>
<br>
<font size="3"> <%= link_to "HOME", home_path %> </font>
<p>
<b><font size="4" style="color:FireBrick">Departure:</font></b>
  <%= @rail_route.departure %> <font size="3" style="color:FireBrick"> AT </font>
  <%= @rail_route.d_time.strftime("%H:%M") %>
</p>

<p>
  <b><font size="4" style="color:FireBrick">Destination:</font></b>
  <%= @rail_route.destination %> <font size="3" style="color:FireBrick"> AT </font>
  <%= @rail_route.a_time.strftime("%H:%M") %>
</p>

<p>
  <b><font size="4" style="color:FireBrick">Stops:</font></b>
  <br>
  <% @rrs = RailroutesStop.where("railroute_id = ?", @rail_route.id) %>
  <% @rrs.each do |r| 
  	@stop = Stop.find(r.stop_id)%>
  	<%= @stop.city %> <font size="3" style="color:FireBrick"> AT </font>
  	<%= @stop.a_time.strftime("%H:%M") %> 
  <br>
  <% end %>
</p>

<p>
  <b><font size="4" style="color:FireBrick">Train - number:</font></b>
  <br>
  <% @rrt = RailroutesTrain.where("railroute_id = ?", @rail_route.id) %>
  <% @rrt.each do |r| 
    @train = Train.find(r.train_id)%>
    <%= @train.serial_number %>
  <br>
  <% end %>
</p>

<% if current_user.present? && current_user.is_admin? %>
	<%= link_to 'Add stops', new_stop_path %>
<% end %>
<br>
<br>
<% if current_user.present? && current_user.is_admin? %>
	<%= link_to 'Edit', edit_rail_route_path(@rail_route) %>
<% end %>
<%= link_to 'Listing rail routes', rail_routes_path %>
